.about-us {
    color: #333;
    display: flex;
    align-items: center;
}

.about-us_header {
    text-transform: uppercase;
    font-size: 30px;
    text-align: left;
}

@media (max-width: 767px) {
    .about-us_header {
        font-size: 20px;
        margin: 0;
    }
}

.about-us_paragraph {
    line-height: 1.9;
    color: #777;
    font-size: 15px;
    text-align: justify;
}

@media (max-width: 767px) {
    .about-us_paragraph {
        font-size: 16px;
        line-height: 1.5;
    }
}

.about-us_image {
    width: 40%;
    margin-left: 30px;
}

@media (max-width: 767px) {
    .about-us_image {
        display: none;
    }
}